.vanteaIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;


  .vanteaImage {
    max-width: 500px;
    width: 100%;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.vanteaIntroText {
  max-width: 1000px;
  color: #868686;
  font-family: Lato;
  font-size: 16px;
  line-height: 143.2%;
  text-align: center;
  padding: 1rem;
}

}