.section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 0 0.25rem;

  .overlay {
    height: 170px;
    border-radius: 4px;

    .sectionTab {
      background: rgba(0, 0, 0, 0.44);
      min-width: 300px;
      height: 170px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.5s background;
      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
    }

    .sectionTabText {
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      color: white;
    }
  }
}
