.paragraphList {
  max-width: 1000px;
width: 100%;
margin-top: 2rem;
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 3rem;


  .paragraphListn1 {
    display: flex;
    

    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    max-width: 90%;
  }

  .paragraphListn2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }


 .paragraphListn3 {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  

 }
  .paragraphListn4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;


  }


  }


.lineVantea {
 position: absolute;
display: flex;
justify-content: center;
height: min-content;
margin-top: 7rem;

max-height: 1800px;
width: 100%;
max-width: 1000px;
  }

