.sectionCode {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 0 0.25rem;
  max-width: 500px;
  width:100%;

  .overlayCode {
    height: 300px;
    border-radius: 4px;

    .sectionTabCode {
      background: rgba(0, 0, 0, 0.44);
      max-width: 500px;
      height: 300px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.5s background;
      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
    }

    .sectionTabTextCode {
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      color: white;
      
      &:hover {
        
        font-size:200%;
      }

    }
  }
}
