.atf {

height:500px;

display: grid;
grid-template-columns: repeat(2, 1fr);
width: 100%;
max-width: 1440px;


.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  animation: upInterval2 1s ease-in-out alternate;
  width: 100%;


  h1{
    
  font-family: Futura Md BT;
  color: #9c9ea0;
 text-shadow: 0.5px 0px  1px white;

}


.btn {
  background-color: #FF2B2B;
  font-family: lato;
  color: white;
  margin-top: 1rem;
  box-shadow: 1.5px 1.5px  black;
  animation: upInterval 1s ease-in-out infinite alternate;
  &:hover {
    animation-play-state: paused;
  }
&:hover {
background-color: black;
}

  a {
    text-decoration: none;
  
  }
}

}
.secondAtf{
display: flex;
align-items: center;
justify-content: flex-end;

.illustrationAtf {
margin-right: 1rem;
max-width: 500px;
width: 100%;

}
}
}


@keyframes upInterval2 {
  0% {
    transform: translate(0, 150px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .atf{
height: 250px;
  
   }
 }

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
 h1 {
    font-size: 30px;
 
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .btn {
     font-size: 12px;
   }
 }



 @keyframes upInterval {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -10px);
  }
}