.atf {

height:500px;

display: grid;
grid-template-columns: repeat(2, 1fr);
width: 100%;
max-width: 1440px;


.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  animation: upInterval2 1s ease-in-out alternate;
  width: 100%;


  h1{
  font-family: Futura Md BT;
  color: #838383;

}


.btn {
  background-color: #FF2B2B;
  font-family: lato;
  color: white;
  font-size: 1.125em;
  margin-top: 1rem;
  box-shadow: 1.5px 1.5px  black;
&:hover {
background-color: black;
}

  a {
    text-decoration: none;
  
  }
}

}
.secondAtf{
display: flex;
align-items: center;
justify-content: flex-end;

.illustrationAtf {
margin-right: 1rem;
max-width: 500px;
width: 100%;

}
}
}


@keyframes upInterval2 {
  0% {
    transform: translate(0, 150px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}