.footer {
  background-color: #F3F3F3;
  color:  #4F4A4A;
  display: flex;
  width: 100%;
  height: 180px;
  margin-top: 2rem;
  justify-content: space-between;

.contatti {
  font-size:  18px;
  line-height: 10px;
  padding: 1rem;

 .linkedinLink{
color:  #4F4A4A;
display:flex;
flex-direction: row;
align-items:center;


    .linkedin{
    max-height: 30px;
    width: auto;


    }
  }
}

  .credit {
display: flex;
flex-direction: column-reverse;
padding: 0.5rem;
margin: 0 0 0px;


  }
}
