.footer {
  background-color: #F3F3F3;
  min-height: 100px;
  color:  #4F4A4A;
  display: flex;
  width: 100%;
  height: 150px;
  margin-top: 2rem;

.contatti {
  font-size:  18px;
  line-height: 10px;
  padding: 1rem;
 
 .linkedinLink{
color:  #4F4A4A;
display:flex;
flex-direction: row;
align-items:center;
justify-content: center;
   

    .linkedin{
    max-height: 30px;
    width: auto;


    }
  }
}
  .credit {

  }
}
