.illustration {
display: flex;
justify-content: space-around;
width: 100%;
  .illustrationRed {
    max-width: 900px;
  }

  .illustrationWireframe {
    position: absolute;
  margin: 1rem;
  max-width: 600px;

  }
}