.codingCard {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  width: 100%;

 .codingCardBox {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
  


.websites {
  padding: 1rem;
  font-family: Futura Md BT;
  color: #838383;
  margin-left: 1.5rem;
  
}